{% load crispy_forms_field %}
<div class="space-y-3">
    {% for choice in field %}
        <label for="{{ choice.id_for_label }}" class="flex items-center gap-3 font-semibold cursor-pointer">
            <input type="checkbox" name="{{ field.html_name }}" id="{{ choice.id_for_label }}" 
                   value="{{ choice.choice_value }}" 
                   {% if choice.is_checked %}checked{% endif %}
                   class="w-5 h-5 border-2 border-black rounded-md appearance-none custom-checkbox">
            <span>{{ choice.choice_label }}</span>
        </label>
    {% endfor %}
</div>
